@import "tailwindcss";

:root {
  --background: #4c7187;
  --foreground: #f0f4f8;
  --button-primary: #f97858;
  --page-background: #f0f4f8;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-madimi-one), sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-block: 1rem;
  color: var(--foreground);
}

h2 {
  font-family: var(--font-madimi-one), sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-block: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: var(--button-primary);
  color: var(--foreground);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.general-background {
  background: var(--background);
}

.main-page-background {
  background: var(--page-background);
}

.nav-background {
  background: var(--button-primary);
}

/* temp */
.bg-button-primary {
  background: var(--button-primary);
}